@import "../../styles/variables";

.stepper {
  display: flex;
  width: auto;
  background-color: $color-primary;
  border-radius: 14px;
}

.stepperElement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  background-color: transparent;
  color: $font-color-light;
  line-height: 1;
}

.countIcon {
  fill: $font-color-light;
  width: 20px;
  height: auto;
}

.buttonDisable {
  opacity: 30%;
  cursor: not-allowed;
}
