@import "../../styles/variables";
@import "../../styles/mixins";

.loginPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $background-color-extra-dark;
  padding-left: $space-11;
  padding-top: $space-3;
}

.loginContent {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: auto 0;

  @include tablet {
    flex-direction: column;
    padding-top: $space-10;
    padding-right: $space-11;
  }
}

.welcomeSection {
  width: auto;
  margin: auto 0;
  padding-bottom: $space-10;
}
