@import "../../styles/variables";

.loginPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $background-color-extra-dark;
  padding-left: $space-11;
  padding-top: $space-3;
}

.loginContent {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.welcomeSection {
  width: auto;
  margin: auto 0;
  padding-bottom: $space-10;
}
