@import "../../styles/variables";

.ldsRing {
  --loader-size: 64px;
  --loader-stroke: 8px;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;

  & div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: var(--loader-size);
    height: var(--loader-size);
    margin: var(--loader-stroke);
    border: var(--loader-stroke) solid $font-color-light;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $font-color-light transparent transparent transparent;
  }

  & div:nth-child(1) {
    animation-delay: -0.45s;
  }

  & div:nth-child(2) {
    animation-delay: -0.3s;
  }

  & div:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.small {
  --loader-size: 36px;
  --loader-stroke: 4px;
}

.medium {
  --loader-size: 48px;
  --loader-stroke: 6px;
}

.large {
  --loader-size: 64px;
  --loader-stroke: 8px;
}
