@import "../../styles/variables";
@import "../../styles/mixins";

.card {
  width: 100%;
  height: 525px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.65) 30%,
      rgba(255, 255, 255, 0) 70%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../../assets/orangeWarsaw.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 14px;

  @include mobile {
    flex-direction: column;
    justify-content: center;
  }
}

.cardLoading {
  width: 100%;
  height: 525px;
  display: flex;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.65) 30%,
    rgba(255, 255, 255, 0) 70%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 14px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto 0;
  gap: $space-5;
  padding: $space-8;

  @include desktop-small {
    width: 70%;
  }

  @include mobile {
    padding: $space-4;
    width: 100%;
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: $space-7;
}

.titleText {
  @include overflow-ellipsis(3);

  min-height: 80px;
}

.descriptionText {
  @include overflow-ellipsis(2);

  width: 80%;
}

.button {
  width: 180px;
}

.buttonsContainer {
  display: flex;
  gap: $space-4;
  margin-top: $space-3;
}

.dateContainer {
  padding: $space-8;
  margin-top: auto;

  @include mobile {
    padding: $space-4;
    align-self: flex-end;
  }
}
