@import "../../styles/variables";

.card {
  width: 100%;
  height: 525px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.65) 30%,
      rgba(255, 255, 255, 0) 70%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../../assets/orangeWarsaw.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 14px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto 0;
  gap: $space-5;
  padding: $space-8;
}

.title {
  display: flex;
  flex-direction: column;
  gap: $space-7;
}

.titleText {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.descriptionText {
  width: 80%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button {
  width: 180px;
}

.buttonsContainer {
  display: flex;
  gap: $space-4;
  margin-top: $space-3;
}

.dateContainer {
  padding: $space-8;
  margin-top: auto;
}
