@import "../../styles/variables";

.selectContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $space-4;
}

.select {
  width: 100%;
  height: 42px;
  padding: $space-3 $space-5;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid $font-color-light-alpha20;
  color: $font-color-light;
  font-size: $font-size-2;
  font-weight: $font-weight-regular;

  &::placeholder {
    font-size: $font-size-2;
    font-weight: $font-weight-regular;
    color: $font-color-light;
  }

  &:focus {
    outline: none;
    border: 1px solid $font-color-light;
  }
}
