@import "../../styles/variables";

.button {
  background: $color-primary;
  height: 38px;
  border-radius: 32px;
  box-shadow: 0 4px 16px #1d1d1d;
  // flex-grow: 1;
  width: 100%;
  letter-spacing: 1.2px;

  &:hover {
    background-color: $color-secondary;
  }
}
