@import "../../styles/variables";
@import "../../styles/mixins";

.action-1 {
  font-size: $font-size-4;
  font-weight: $font-weight-medium;
  color: $font-color-light-secondary;

  @include mobile {
    font-size: $font-size-3;
  }
}

.action-2 {
  font-size: $font-size-4;
  font-weight: $font-weight-medium;
  line-height: 1.2;
  color: $font-color-light;
}

.action-3 {
  font-size: $font-size-3;
  font-weight: $font-weight-medium;
  color: $font-color-light-secondary;
}

.action-4 {
  font-size: $font-size-2;
  font-weight: $font-weight-medium;
  color: $font-color-light;
  text-decoration: underline;
  cursor: pointer;
}

.action-5 {
  font-size: $font-size-4;
  font-weight: $font-weight-light;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: $font-color-light;
}

.subtitle-1 {
  font-size: $font-size-4;
  font-weight: $font-weight-semibold;
  line-height: 1.2;
  color: $font-color-light-secondary;

  @include mobile {
    font-size: $font-size-3;
  }
}

.subtitle-2 {
  font-size: $font-size-4;
  font-weight: $font-weight-medium;
  color: $font-color-light-secondary;
  text-transform: uppercase;

  @include desktop-small {
    font-size: $font-size-3;
  }
}

.subtitle-3 {
  font-size: $font-size-3;
  font-weight: $font-weight-medium;
  color: $font-color-light;
  text-transform: uppercase;

  @include mobile {
    font-size: $font-size-2;
  }
}

.subtitle-4 {
  font-size: $font-size-2;
  font-weight: $font-weight-regular;
  letter-spacing: 0.3px;
  color: $color-secondary;
}

.subtitle-5 {
  font-size: $font-size-1;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
  color: $color-secondary;
}

.caption-1 {
  font-size: $font-size-4;
  font-weight: $font-weight-medium;
  color: $font-color-light-secondary;

  @include mobile {
    font-size: $font-size-3;
  }
}

.caption-2 {
  font-size: $font-size-2;
  font-weight: $font-weight-light;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: $font-color-light-secondary;
}

.caption-3 {
  font-size: $font-size-2;
  font-weight: $font-weight-medium;
  line-height: 1.5;
  color: $font-color-light;
}

.caption-4 {
  font-size: $font-size-1;
  font-weight: $font-weight-regular;
  color: $font-color-light;
}

.heading-1 {
  font-size: $font-size-12;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.2px;
  color: $color-primary;

  @include desktop-small {
    font-size: $font-size-11;
  }

  @include mobile {
    font-size: $font-size-9;
  }
}

.heading-2 {
  font-size: $font-size-12;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.2px;
  color: $font-color-light;

  @include desktop-small {
    font-size: $font-size-11;
  }

  @include mobile {
    font-size: $font-size-9;
  }
}

.heading-3 {
  font-size: $font-size-7;
  font-weight: $font-weight-semibold;
  color: $font-color-light;

  @include mobile {
    font-size: $font-size-6;
  }
}

.heading-4 {
  font-size: $font-size-6;
  font-weight: $font-weight-semibold;
  letter-spacing: 2px;
  color: $font-color-light-secondary;
  text-transform: uppercase;
}

.heading-5 {
  font-size: $font-size-6;
  font-weight: $font-weight-medium;
  letter-spacing: 1.1;
  color: $font-color-light;
  text-transform: uppercase;

  @include desktop-small {
    font-size: $font-size-4;
  }
}

.heading-6 {
  font-size: $font-size-5;
  font-weight: $font-weight-semibold;
  letter-spacing: 1.1px;
  color: $font-color-light-secondary;
  text-transform: uppercase;

  @include mobile {
    font-size: $font-size-4;
  }
}

.num-1 {
  font-size: $font-size-7;
  font-weight: $font-weight-semibold;
  color: $font-color-light;
}

.error-1 {
  font-size: $font-size-2;
  font-weight: $font-weight-light;
  line-height: 1.1;
  color: $error-color;
}

.success-1 {
  font-size: $font-size-2;
  font-weight: $font-weight-light;
  line-height: 1.1;
  color: $success-color;
}
