@import "../../styles/variables";

.personalContainer {
  display: flex;
  gap: $space-7;
}

.image {
  width: 180px;
  height: auto;
  border-radius: 100%;
  border: 2px solid $color-primary;
}

.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
}

.imageContainer::after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-color: $color-primary;
  border-radius: 100%;
  position: absolute;
  right: 12px;
  bottom: 16px;
}

.informationContainer {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  padding: $space-6 0;
  justify-content: space-between;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  gap: $space-4;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  gap: $space-3;
}
