@import "../../styles/variables";
@import "../../styles/mixins";

.form {
  display: flex;
  flex-direction: column;
  gap: $space-8;
  background-color: inherit;
  margin: auto;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: $space-3;
}

.button {
  width: 340px;
  margin: auto;

  @include mobile {
    width: 280px;
  }
}
