@import "../../styles//variables";

.section {
  display: flex;
  flex-direction: column;
  padding: $space-6;
  height: calc(100vh - $topbar-height);
  overflow-y: scroll;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
}
