@import "../../styles/variables";
@import "../../styles/mixins";

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  padding: 0 $space-6;
  background-color: $background-color-medium;
  position: fixed;
  display: flex;
  flex-shrink: 0;
  top: 0;
  left: $sidebar-width-desktop;
  width: calc(100vw - $sidebar-width-desktop);
  z-index: 1000;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.15);

  @include desktop-small {
    left: $sidebar-width-desktop-small;
    width: calc(100vw - $sidebar-width-desktop-small);
  }
}

.actionContainer {
  display: flex;
  gap: $space-3;
  align-items: center;
}
