@import "../../styles/variables";

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  padding: 0 $space-6;
  background-color: $background-color-medium;
}
