@import "../../styles/variables";

.icon {
  fill: $font-color-light-secondary;
  z-index: 10;
}

.linkLabel {
  display: flex;
  gap: $space-4;
  align-items: center;

  &:hover .icon {
    fill: $font-color-light;
    cursor: pointer;
    transition: fill 0.15s;
  }
}

.label {
  position: relative;
  z-index: 10;

  &:hover {
    color: $font-color-light;
    cursor: pointer;
    transition: fill 0.15s;
  }
}

.active {
  color: $font-color-light;
  fill: $font-color-light;
}
