@import "../../styles/variables";
@import "../../styles/mixins";

.eventCard {
  display: flex;
  gap: $space-8;

  @include mobile {
    flex-direction: column;
  }
}

.imageContainer {
  width: 40%;
  height: 560px;
  overflow: hidden;
  border-radius: 14px;
  background-color: $background-color-extra-dark;

  @include mobile {
    width: 100%;
    height: 240px;
  }
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.informationContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: $space-8;

  @include mobile {
    width: 100%;
  }
}

.description {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: $space-2;
}

.descriptionText {
  color: $font-color-light;

  @include mobile {
    text-align: justify;
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: $space-6;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $space-4;
  margin-top: auto;
  margin-bottom: $space-4;
}

.buttonBuy {
  width: 240px;
}
