// Colors
$color-primary: #875bcd;
$color-secondary: #a476f0;
$font-color-light: #f4f4f4;
$font-color-light-alpha20: rgb(244, 244, 244, 0.2);
$font-color-light-secondary: #b7b7b7;
$font-color-dark: #1e1e1e;
$background-color-extra-dark: #0b0b0b;
$background-color-dark: #191919;
$background-color-medium-dark: #1d1d1d;
$background-color-medium: #242426;
$background-color-medium-light: #313131;
$background-color-light: #f4f4f46d;
$error-color: rgb(247, 0, 0);
$success-color: rgb(0, 159, 0);
$yellow-color: #ffff80;

// Spacing
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 32px;
$space-8: 48px;
$space-9: 64px;
$space-10: 80px;
$space-11: 96px;
$space-12: 128px;
$space-13: 192px;
$space-14: 256px;

// Font family
$font-family: Poppins;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Font sizes
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-5: 20px;
$font-size-6: 24px;
$font-size-7: 28px;
$font-size-8: 32px;
$font-size-9: 36px;
$font-size-10: 44px;
$font-size-11: 52px;
$font-size-12: 64px;
$font-size-13: 76px;
$font-size-14: 92px;
$font-size-15: 144px;

// Layout constants
$sidebar-width: 320px;
$topbar-height: 78px;
$checkout-summary-width: 420px;
