@import "../../styles/mixins";

.logoContainer {
  display: flex;
  height: 100%;
}

.logo {
  height: 50px;
  width: auto;
  opacity: 80%;
  margin: auto 0;

  @include tablet {
    height: 40px;
  }
}
