@import "../../styles/variables";

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 320px;
  background-color: $background-color-dark;
}

.content {
  width: 100%;
  background-color: $background-color-medium-light;
  overflow-y: scroll;
}
