@import "../../styles/variables";

.menu {
  display: flex;
  flex-direction: column;
  gap: $space-7;
  padding: $space-7 0;
}

.categoriesMenu {
  display: flex;
  flex-direction: column;
  gap: $space-7;
  padding: 0 $space-6;
}

.link {
  display: block;
  padding: 0 $space-8;
  position: relative;
}

.icon {
  fill: $font-color-light-secondary;
}

.linkLabel {
  display: flex;
  gap: $space-4;
  align-items: center;
}

.divider {
  padding: 0 $space-4;
}
