@import "../../styles/variables";

.cart {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 420px;
  background-color: $background-color-medium;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  box-shadow: -10px 0 16px rgba(0, 0, 0, 0.15);
}

.titleLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-6;
  height: 100px;
}

.icon {
  fill: $font-color-light;
  width: 24px;
  height: auto;
  cursor: pointer;
}

.divider {
  padding: 0 $space-6;
}

.checkoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 180px;
  flex-shrink: 0;
  padding: $space-6;
  background-color: $background-color-medium-light;
  box-shadow: 0px -10px 16px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

.subtotalPriceContainer {
  display: flex;
  justify-content: space-between;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 $space-6;
  overflow-y: scroll;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: $background-color-extra-dark;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.emptyCartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-3;
  width: 100%;
  height: 100%;
}

.emptyCartIcon {
  width: 100px;
  height: auto;
  fill: $font-color-light-alpha20;
}

.emptyCartText {
  font-size: $font-size-5;
}

.buttonExplore {
  width: 180px;
  margin-top: $space-6;
}
