@import "../../styles/variables";
@import "../../styles/mixins";

.carousel {
  display: flex;
  flex-direction: column;
  padding: $space-8 $space-6;
  background-color: inherit;
  gap: $space-6;
}

.childrenContainer {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;

  @include scrollbar-none;
}

.titleLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 24px;
  height: auto;
  fill: $font-color-light-secondary;
  cursor: pointer;
}

.buttonDisable {
  opacity: 30%;
  cursor: not-allowed;
}
