@import "../../../styles/variables";
@import "../../../styles/mixins";

.page {
  padding-top: $topbar-height;
  z-index: 10;
}

.sections {
  display: flex;
  flex-direction: column;
  padding: $space-10 $space-13;
  gap: $space-11;
  z-index: 5;

  @include desktop-small {
    padding: $space-9 $space-11;
  }
}
