@import "../../styles/variables";
@import "../../styles/mixins";

.profileForm {
  display: flex;
  flex-direction: column;
  gap: $space-9;
  width: 320px;
  margin: auto;

  @include mobile {
    width: 240px;
    gap: $space-8;
  }
}

.title {
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: $space-4;

  @include mobile {
    width: 240px;
  }
}
