@import "../../styles/variables";

.profileForm {
  display: flex;
  flex-direction: column;
  gap: $space-9;
  width: 320px;
  margin: auto;
}

.title {
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: $space-4;
}
