@import "../../styles/variables";
@import "../../styles/mixins";

.sidebar {
  display: flex;
  flex-direction: column;
  width: $sidebar-width-desktop;
  height: 100vh;

  @include desktop-small {
    width: $sidebar-width-desktop-small;
    overflow-y: scroll;
  }

  @include tablet {
    width: $sidebar-width-desktop;
    overflow-y: unset;
  }

  @include mobile {
    width: 100vw;
  }
}

.logo {
  display: flex;
  flex-shrink: 0;
  height: 100px;
  padding: 0 $space-6;
}

.divider {
  padding: 0 $space-4;
}

.profile {
  padding: $space-7 $space-6;
  margin-top: auto;

  @include tablet {
    padding-bottom: calc($space-7 + 80px);
  }
}
