@import "../../styles/variables";
@import "../../styles/mixins";

.events {
  height: 342px;
  width: 100%;
  display: flex;
  gap: $space-7;
  overflow-x: scroll;
  overflow-y: hidden;

  @include scrollbar-none;
}
