@import "../../styles/variables";

.form {
  display: flex;
  flex-direction: column;
  gap: $space-8;
  background-color: $background-color-extra-dark;
}

.title {
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: $space-3;
}

.signUp {
  text-align: center;
}
