@import "../../styles/variables";
@import "../../styles/mixins";

.form {
  display: flex;
  flex-direction: column;
  gap: $space-8;
}

.title {
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: $space-3;

  @include mobile {
    width: 300px;
  }
}

.signUp {
  text-align: center;
}
