@import "../../styles/variables";

.ticketsSection {
  background-color: $background-color-medium-light;
  height: 387px;
}

.tickets {
  width: auto;
  display: flex;
  gap: $space-7;
  overflow-x: scroll;
  overflow-y: hidden;
}
