@import "../../styles/variables";

.tile {
  height: 82px;
  width: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-3;
  border: 2px solid $font-color-light;
  background-color: $background-color-light;
  border-radius: 8px;
  opacity: 80%;
}
