@import "../../styles/variables";

.form {
  display: flex;
  flex-direction: column;
  gap: $space-8;
  background-color: inherit;
  margin: auto;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  gap: $space-6;
}

.button {
  width: 40%;
  margin: auto;
}
